<link rel="stylesheet" href="/css/_ads.css">

<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="https://images.unsplash.com/photo-1622831617330-bc799d6236b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG5pa2V8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
    <div class="text">Nike</div>
  </div>
  
  <div class="mySlides fade">
    <img src="https://images.unsplash.com/photo-1542816340-4d3de5047cfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8N3w0NDYyNzM4fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
    <div class="text">Armani</div>
  </div>
  
  <div class="mySlides fade">
    <img src="https://images.unsplash.com/photo-1572615208281-3c9a9a9fb41c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8emFyYXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60">
    <div class="text">Zara</div>
  </div>

  <div class="mySlides fade">
    <img src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z3VjY2l8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
    <div class="text">Gucci</div>
  </div>

  <div class="mySlides fade">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9n4sXB2O41VxrosQ2bhQiafjPpLrcjYw3Rw&usqp=CAU">
    <div class="text">Versace</div>
  </div>

  <div class="mySlides fade">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLcNNF_cRq65d6NR7Fq2Nbu2hrRY4XXsIWJw&usqp=CAU">
    <div class="text">I Phone</div>
  </div>

  <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

</div>

  <br>
  
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>


  <script src="/js/ads.js"></script>