
<link rel="stylesheet" href="/css/user_sign_up.css">

<div class="bg">
    <div class="allitems">
    
        <h1>Sign Up</h1>

        <div class="credentials">
            <form action="/users/create" method="POST">
                <input type="text" name="name" placeholder="Your Name" required>
                <br>
                <input type="email" name="email" placeholder="Your Email" required>
                <br>
                <input type="password" name="password" placeholder="Password" required>
                <br>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <br>
                <input type="submit" value="Sign Up" class="signUp HOVER">
            
            </form>
        </div>
        <h3> -----------------------------OR-------------------------------- </h3>
        <div class="google-auth ">
            <button >
                <a href="/users/auth/google" >
                    Sign Up With Google
                </a>
            </button>
        </div>

    </div>

    <div class="cb_logo">
        <img src="/images/cb_logo2-removebg-preview.png" alt="">
        <h1>CloneBook</h1>
    </div>
    
</div>

