<div>

    <p>
        Hi user
        <br>
        <br>
        <p>
            Link for reseting your password is here
        </p>
        <br>
        <p>
            <a href="http://localhost:8000/users/resetPassword/<%= id %>">Reset password</a>
        </p>
        <br>
        <br>
        <p>
            Thanks!
        </p>
    </p>

</div>