body, html{
    height: 100%;
    background: linear-gradient(90deg, #ce092b, #2b67be);
}
.bg{
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
h2{
    text-align: center;
    color: white;
}
.elements{
    margin-left: 15%;
    margin-top: 10%;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    width: 520px;
}
.elements input{
    display: block;
    margin-bottom: 20px;
    background: transparent;
    border: 2px solid white;
    font-size: larger;
    width: 500px;
    height: 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
::placeholder{
    color: white;
}
.confirmButton{
    color: white;
}
.confirmButton button :hover{
    background: white;
}
.cb_logo{
    margin-right: 20%;
    margin-top: 12%;
}
.cb_logo h1{
    font-size: 4vW;
    color: white;
}


/* media queries for phone*/

@media screen and (max-width: 1100px){
    .bg{
        justify-content: center;
    }
    .cb_logo{
        height:0;
        width:0;
    }
    .cb_logo h1{
        font-size:0px;
        color: transparent;
    }
    .cb_logo img{
        height:0px;
        width:0px;
    }
    .elements{
        margin-left:0px;
        
    }
}

@media screen and (max-width: 2000px){
    .cb_logo{
        margin-right: 10%;
        margin-top: 12%;
    }
    .bg{
        margin-left:4% ;
    }
}
@media screen and (max-width: 2500px){
    .cb_logo{
        margin-right: 15%;
        margin-top: 12%;
    }
    .bg{
        margin-left:10% ;
    }
}
